.main-header {
  background: linear-gradient(to right, var(--blue-600), var(--blue-900));
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  .container {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .icon {
    box-sizing: content-box;
    padding: 0.25rem;
    margin-right: 2rem;

    border-radius: 0.25em;

    background-color: white;
    color: var(--blue-800);
  }
}
